<header id="page-header">
  <div id="masthead">
    <h1><%= link_to 'Flix', root_path %></h1>
    <nav>
      <p>
        <%= link_to "Visti my Portfolio", "https://tony-devcamp-portfolio.herokuapp.com" %>
      </p>
    </nav>
  </div>

</header>